.header {
  padding: 40px 0;
  border-bottom: 2px solid var(--blackish);
  background-color: var(--yellow-primary);
}

.header .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__logo {
  display: block;
  max-width: 60px;
  margin-right: 20px;
}
