.pomodoro {
  background-color: var(--yellow-primary);
  color: var(--blackish);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
}

.pomodoro .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  max-width: 600px;
}

@media screen and (min-width: 600px) {
  .pomodoro .main {
    margin: auto;
  }
}

@media screen and (min-width: 992px) {
  .pomodoro .main {
    border-right: 1px solid var(--blackish);
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .pomodoro .main {
    width: 50%;
    max-width: 50%;
  } 
}
